BASE_URL=https://tnt-demo.apeiro-digital.com

ADMIN_EMAIL=
ADMIN_PASSWORD=
KEMSA_EMAIL=
KEMSA_PASSWORD=
MANUFACTURER_EMAIL=
MANUFACTURER_PASSWORD=

MANUFACTURER_API_TOKEN=
DISTRIBUTOR_API_TOKEN=
FACILITY_API_TOKEN=
